@import "~bootstrap/dist/css/bootstrap.min.css";

.border{border:1px solid;}
.error{
    color: red;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
